.header-container {
    display: flex;
    padding: var(--spacing-small);
    width: 100%;
    height: 60px;
    background-color:var(--color-header);
}
.header-counter{    
 margin-left: auto;
 padding-right: var(--spacing-small);
 font-weight: bold;
 cursor: pointer;
}