:root{
    --color-light: rgb(203, 245, 245);
    --color-white: white;
    --color-unAccent: #808080;

    --border-radius: 5px;
    --linear-gradient:  linear-gradient(90deg, rgba(77,106,119,0.6867997198879552) 0%, rgba(13,128,74,1) 35%, rgba(9,171,25,1) 99%);
    
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-light);
}